
importFrom(grDevices, colors)
importFrom(utils, str, tail, write.table)
importFrom(reshape2, melt)
importFrom(Biobase, rowMedians)
importFrom(mygene, getGenes)
import(stats)

importFrom(DOSE, clusterSim, cnetplot, doSim, dotplot, enrichDO, enrichMap, enrichNCG, EXTID2NAME, geneSim, gseaplot, gseDO, gseNCG, gsfilter, mclusterSim, netplot, plot, scaleNodeColor, setReadable, setting.graph.attributes, show, simplot, summary, theme_dose, upsetplot)
importFrom(ReactomePA, enrichPathway, gsePathway, viewPathway)
import(clusterProfiler)

importFrom(gridExtra, grid.arrange)
importFrom(grid, rasterGrob)
importFrom(grid, textGrob)
importFrom(grid, gpar)
importFrom(gridExtra, arrangeGrob)
importFrom(ape, as.phylo)
importFrom(ggtree, ggtree)
importFrom(ggtree, plot)
importFrom(ggtree, gheatmap)
importFrom(ggtree, geom_tiplab)
importFrom(png, readPNG)
importFrom(sva, svaseq)

import(org.Hs.eg.db)
import(ggplot2)


export(linc)
export(justlinc)
export(clusterlinc)
export(singlelinc)
export(getbio)
export(getlinc)
export(plotlinc)
export(querycluster)
export(feature)
export(linctable)
export(getcoexpr)
export(overlaylinc)
exportClass("LINCmatrix")
exportClass("LINCcluster")
exportClass("LINCbio")
exportClass("LINCsingle")
exportClass("LINCfeature")
importFrom(Rcpp, sourceCpp)
useDynLib(LINC, .registration = TRUE)






